html,
      body {
        overflow: scroll;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        /*font-family:Georgia, 'Times New Roman', Times, serif*/
      }
      label {
        display: inline-block;
        width: 100px;
        color: #535353;
      }
      input {
        padding: 5px 5px;
      }
      #renderCanvas {
        width: 100%;
        height: 100%;
        touch-action: none;
      }
      .header {
        grid-area: header;
        text-align:center;
        padding: 10px 0;
        font-size: 15px;
      }
      .toggle {
        grid-area: toggle;
        text-align: center;
      }
      .simequation {
        grid-area: relati;
        text-align:center;
        padding: 7px;
      }
      .addel {
        grid-area: addel;
        text-align:center;
        padding: 7px;
      }

      .listel {
        grid-area: listel;
        text-align:center;
        padding: 7px;
      }

      .listel label {
        width: 150px;
        
      }

      .editel {
        grid-area: editel;
        text-align:left;
        padding: 7px;
      }

      .evepln {
        grid-area: evepln;
        text-align: left;
        padding: 7px;
      }

      .evepln label {
        width: 50px;
      }

      .solvea {
        grid-area: solvea;
        text-align: left;
        padding: 10px;
      }

      .solvea label {
        width: 75px;
      }

      .simset {
        grid-area: simset;
        text-align: center;
      }

      .siminfo {
        grid-area: siminfo;
        text-align: center;
      }

      .simval {
        grid-area: simval;
        text-align: center;
      }

      .simput {
        grid-area: simput;
        text-align: center;
        padding-left: 5px;
      }

      .simul {
        grid-area: simul;
        text-align:center;
        padding: 7px;
      }

      .grid-container {
        display: grid;
        grid-template-areas:
          "header header header header header header"
          "toggle relati relati relati relati addel"
          "listel listel editel editel evepln evepln"
          "listel listel editel editel solvea solvea"
          "simset siminfo simval simval simput simput"
          "simul simul simul simul simul simul";
        gap: 5px;
        background-color: #2196f3;
        padding: 5px;
      }
      @media (max-width: 600px) {
        .grid-container  {
          grid-template-areas: 
            'header header header header header header' 
            'toggle toggle toggle addel addel addel' 
            'relati  relati relati relati relati relati' 
            'listel listel listel listel listel listel'
            'editel editel editel editel editel editel'
            'evepln evepln evepln solvea solvea solvea'
            'simset siminfo simval simval simput simput'
            'simul simul simul simul simul simul';
        }
      }

      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
      }